body{
	background-color:#000;
}

.content{
	position:absolute;
	color:#d3d3d3;
	z-index:1000;
	top:10px;
	left:10px;
}

button{
	font-size:20px;
}

#receiving .cloneme{
	display:none;
}
#receiving .clonee{
	display:inline-block;
	padding-left:15px;
	vertical-align: top;
}

.content #receiving{display:none;}
.content #sending{display:none;}

.content.host #receiving{display:block;}
.content.host #sending{display:none;}

.content.guest #receiving{display:none;}
.content.guest #sending{display:block;}